<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>关于我们</title>
    <script src="./assets/js/fnreSize.js"></script>
    <script src="./assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="./assets/css/us.css" />
  </head>
  <body>
    <div class="us-box">
      <div class="us-name">
        <span>关于我们</span>
      </div>
      <img id="toIndex" src="./assets/image/icon/home.png" alt="" />
      <div class="about-box">
        <span>
          聚数资讯（上海）信息技术有限公司，汇集海量多维数据资源，打造城市数据运营服务中心。
          
        </span>
        <span>
          公司致力于将数据、数据挖掘分析与数据应用需求串联，聚焦数据，让数据分析发挥主导作用，探索出针对特定数据的，面向具体场景使用的数据服务。
        </span>
        <span>
          公司搭建了开放式数据共享及应用服务平台，倾力打造城市数据运营服务中心，各类数据资源应有尽有。用户可从平台中高效获取上海市各行各业高质量数据资源。公司可进行私有化数据管理，使行业用户在最短时间内对自身数据进行统一平台管理及可视化分析，建立数据文化，将数据变为资产，并进行数据预测使数据更有价值。
        </span>
        <span>
          公司拥有的海量数据资源可解决企业间、集团间、政府间的数据孤岛问题，将用户的内部数据与各类高质量外部数据结合，深度挖掘，打造数据分析体系，使用户在行业碰撞及新领域探索时具有领先优势。

        </span>
      </div>
      <div class="about-us">
        <div class="about-left">
          <span class="about-left-item">
            <span>联系电话：</span> <span>13816677937</span>
          </span>
          <span class="about-left-item">
            <span>邮 箱：</span> <span>scgjszx@china-gis.com</span>
          </span>
          <span class="about-left-item">
            <span>公众号：</span> <span>聚数咨询</span>
          </span>
        </div>
        <div class="about-right">
          <img src="./assets/image/icon/qrcode.png" alt="" />
          <span>公众号二维码</span>
        </div>
      </div>

      <!-- <div class="us-img-box">
        <div class="us-img-left">
          <img src="./assets/image/us/img1.png" alt="" />
          <img src="./assets/image/us/img3.png" alt="" />
        </div>
        <div class="us-img-right">
          <img src="./assets/image/us/img2.png" alt="" />
          <img src="./assets/image/us/img4.png" alt="" />
        </div>
      </div> -->
    </div>
  </body>
  <script>
    $("#toIndex").click(function () {
      window.location.href = "./index.html";
    });
  </script>
</html>
