<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="#">{{ username }}</a>
<hr>
我总共有{{ friends|length }}个朋友,
我的朋友是{{ friends }},
我的异性朋友是{{ friends.2 }}  {# 列表取值 #}
<hr>
<ul>
    {% for item in friends %}
        <li>{{ forloop.counter }}</li>
    {% endfor %}
</ul>
<hr>2021我的score是{{ score.2021 }}<hr>
<hr>
{% if age > 10 %}
    大于10岁
    {% else %}
    不大于10岁
{% endif %}
<hr>
{# 我是注释 #}
{% comment %}
我也是注释
{% endcomment %}

<hr>
{# 过滤器的语法形式: 变量|过滤器:'参数'#}
当前时间：{{ birthday|date:'Y年m月j日 H时i分s秒 ' }}
<br>当前时间：{{ birthday }}
<hr>
我的简介是:{{ desc|safe }}
我的简介是:{{ desc }}
<hr>
我没有定义的变量:{{ abcde|default:'~~~~~~~~' }}
</body>
</html>