@charset "UTF-8";
span {
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  border: 0;
  outline: 0;
}

ul {
  /* 移除默认的列表样式 */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:focus {
  border: none;
}

div {
  box-sizing: border-box;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(128, 128, 128, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(155, 155, 155, 0.2);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(112, 112, 112, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.2);
}

.body-box {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #00214d;
}

.data-head {
  width: 100vw;
  height: 1rem;
  display: flex;
  justify-content: space-between;
}

.data-head .data-head-name {
  width: 3.3rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-head .data-head-name > img {
  width: 0.33rem;
}

.data-head .data-head-name > span {
  display: inline-block;
  margin: 0 0.3rem;
  font-size: 0.24rem;
}

.data-head .data-head-content {
  width: calc(100vw - 3.3rem);
  height: 1rem;
  display: flex;
  padding: 0 0.3rem;
  justify-content: space-between;
  align-items: center;
}

.data-head .data-head-content .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.6rem;
  background: #ffffff;
  border-radius: 0.28rem;
  position: relative;
}

.data-head .data-head-content .search .input-list {
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 4.6rem;
  height: auto;
  background-color: #f3f3f3;
  z-index: 99;
}

.data-head .data-head-content .search .input-list .input-list-item {
  border: 1px solid #ddd;
  /* 链接添加边框 */
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 0.12rem;
  text-decoration: none;
  font-size: 0.18rem;
  display: block;
  cursor: pointer;
}

.data-head .data-head-content .search .input-list .input-list-item:hover {
  background-color: #eee;
}

.data-head .data-head-content .search .input-list .input-list-item span {
  display: inline-block;
  padding-left: 0.1rem;
  color: #4e4e4e;
}

.data-head .data-head-content .search .input-list .input-list-head {
  border: 1px solid #ddd;
  /* 链接添加边框 */
  margin-top: -1px;
  background-color: #acaaaa;
  padding: 0.12rem;
  text-decoration: none;
  font-size: 0.18rem;
  display: block;
  cursor: pointer;
}

.data-head .data-head-content .search .input-list .input-list-head:hover {
  background-color: #eee;
}

.data-head .data-head-content .search .input-list .input-list-head span {
  color: black;
}

.data-head .data-head-content .search > input {
  width: 4rem;
  height: 0.56rem;
  background: #ffffff;
  border-bottom-left-radius: 0.28rem;
  border-top-left-radius: 0.28rem;
  padding-left: 0.3rem;
}

.data-head .data-head-content .search > img {
  width: 0.24rem;
  margin-right: 0.2rem;
}

.data-head .data-head-content .logo-box {
  display: flex;
  align-items: flex-end;
}

.data-head .data-head-content .logo-box > span {
  font-size: 0.2rem;
  display: inline-block;
  margin: 0 0.2rem;
}

.data-head .data-head-content .logo-box > img {
  width: 0.24rem;
}

.data-content {
  width: 100vw;
  height: calc(100vh - 1rem);
  display: flex;
}

.data-content .data-nav {
  width: 2.7rem;
  height: calc(100vh - 1rem);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.data-content .data-nav .data-nav-item {
  margin-bottom: 0.2rem;
  width: 2.7rem;
  height: 0.72rem;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.data-content .data-nav .data-nav-item:hover {
  background: rgba(157, 186, 255, 0.2);
}

.data-content .data-nav .data-nav-item::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 0.1rem;
  height: 0.48rem;
  background-color: #7ecef4;
  transform: translateY(-50%);
}

.data-content .data-nav .data-nav-item > span {
  position: absolute;
  top: 0;
  left: 0.5rem;
  display: inline-block;
  line-height: 0.72rem;
  font-size: 0.18rem;
}

.data-content .data-nav .data-nav-item-off {
  transition: all 0.8s;
  background: transparent;
}

.data-content .data-nav .data-nav-item-on {
  transition: all 0.8s;
  background: rgba(157, 186, 255, 0.2);
}

.data-content .data-content-content {
  width: calc(100vw - 2.7rem);
  height: calc(100vh - 1rem);
  display: flex;
  background-color: #ececec;
}

.data-content .data-content-content .data-content-nav {
  margin: 0.2rem 0rem 0.2rem 0.16rem;
  padding: 0.2rem 0;
  width: 3rem;
  height: calc(100vh - 1rem- 0.4rem);
  overflow-y: auto;
  border-radius: 0.1rem;
  background-color: #ffffff;
}

.data-content .data-content-content .data-content-nav .data-second-item-off {
  background-color: #145394;
}

.data-content .data-content-content .data-content-nav .data-second-item-on {
  background-color: #008ac4;
}

.data-content .data-content-content .data-content-nav .data-second-item {
  margin-left: 0.2rem;
  width: 2rem;
  height: 0.46rem;
  border-radius: 0.1rem;
  position: relative;
  color: #ececec;
}

.data-content .data-content-content .data-content-nav .data-second-item:hover {
  color: #ffffff;
  background-color: #008ac4;
}

.data-content .data-content-content .data-content-nav .data-second-item:not(:first-child) {
  margin-top: 0.2rem;
}

.data-content .data-content-content .data-content-nav .data-second-item .nav-second-text {
  position: absolute;
  font-size: 0.18rem;
  left: 0.4rem;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
}

.data-content .data-content-content .data-content-nav .data-second-item .icon-gear {
  position: absolute;
  left: 0.1rem;
  top: 50%;
  width: 0.17rem;
  height: 0.17rem;
  transform: translateY(-50%);
}

.data-content .data-content-content .data-content-nav .data-second-item .icon-down {
  position: absolute;
  right: 0.1rem;
  top: 50%;
  width: 0.09rem;
  height: 0.09rem;
  transform: translateY(-50%);
}

.data-content .data-content-content .data-content-nav .nav-list-off {
  height: 0;
  opacity: 0;
  transition: all 0.8s;
}

.data-content .data-content-content .data-content-nav .nav-list-off .nav-list-item {
  display: none;
}

.data-content .data-content-content .data-content-nav .nav-list-on {
  height: auto;
  opacity: 1;
  transition: all 0.8s;
}

.data-content .data-content-content .data-content-nav .nav-list-on .nav-list-item {
  display: block;
  height: 0.28rem;
}

.data-content .data-content-content .data-content-nav .nav-list {
  position: relative;
  left: 0.5rem;
  width: 1.45rem;
}

.data-content .data-content-content .data-content-nav .nav-list::before {
  content: "";
  display: block;
  position: absolute;
  top: -0.15rem;
  width: 1px;
  height: 100%;
  left: 0.05rem;
  border-left: 0.01rem dashed #145394;
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item {
  font-size: 0.18rem;
  color: #ffffff;
  width: 2rem;
  background-size: 100%;
  margin-top: 0.15rem;
  position: relative;
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.45rem;
  height: 0.01rem;
  left: 0.05rem;
  border-top: 0.01rem dashed #145394;
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item .move-nav-item {
  display: inline-block;
  width: 1.5rem;
  height: 0.28rem;
  line-height: 0.28rem;
  margin-left: 0.5rem;
  padding: 0.02rem 0.1rem;
  font-size: 0.18rem;
  color: #ffffff;
  z-index: 10;
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item .move-nav-item:hover {
  background-color: #008ac4;
  box-shadow: 0.02rem 0.03rem 0 rgba(3, 137, 240, 0.8);
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item .move-nav-item .del-icon {
  display: none;
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item .move-nav-item-off {
  background-color: #145394;
  box-shadow: 0.02rem 0.03rem 0 rgba(20, 83, 148, 0.8);
}

.data-content .data-content-content .data-content-nav .nav-list .nav-list-item .move-nav-item-on {
  background-color: #008ac4;
  box-shadow: 0.02rem 0.03rem 0 rgba(3, 137, 240, 0.8);
}

.data-content .data-content-content .data-content-map-all {
  width: calc(100vw - 2.7rem - 0.16rem);
}

.data-content .data-content-content .data-content-map-on {
  width: calc(100vw - 2.7rem - 3rem - 0.16rem);
}

.data-content .data-content-content .data-content-map {
  margin: 0.2rem 0.16rem 0.2rem 0.16rem;
  height: calc(100vh - 1.4rem);
  overflow: hidden;
  border-radius: 0.1rem;
  background-color: #ffffff;
  position: relative;
}

.data-content .data-content-content .data-content-map .icon-box {
  position: absolute;
  z-index: 999;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.6rem;
  display: flex;
}

.data-content .data-content-content .data-content-map .icon-box .icon-box-item {
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.2rem;
  display: flex;
  cursor: pointer;
  border-radius: 0.1rem;
  background-color: rgba(0, 33, 77, 0.87);
  justify-content: center;
  align-items: center;
}

.data-content .data-content-content .data-content-map .icon-box .icon-box-item:hover {
  background-color: #008ac4;
}

.data-content .data-content-content .data-content-map .icon-box .icon-box-item > img {
  width: 0.35rem;
}

.data-content .data-content-content .data-content-map .version-box-off {
  right: -1.2rem;
  opacity: 0;
  transition: all 0.8s;
}

.data-content .data-content-content .data-content-map .version-box-on {
  right: 0.1rem;
  opacity: 1;
  transition: all 0.8s;
}

.data-content .data-content-content .data-content-map .version-box {
  z-index: 30;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 6rem;
  background-color: rgba(0, 33, 77, 0.8);
}

.data-content .data-content-content .data-content-map .version-box .version-off {
  position: absolute;
  width: 0.1rem;
  height: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0.1rem;
  cursor: pointer;
  background: url("../image/icon/left.png") center center no-repeat;
  background-size: 100%;
}

.data-content .data-content-content .data-content-map .version-box .version-item-box {
  width: 2.05rem;
  height: 5.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.1rem;
}

.data-content .data-content-content .data-content-map .version-box .version-item-box .version-item {
  width: 2.05rem;
  height: 1.28rem;
  background: url("../image/icon/version-bg.png") center center no-repeat;
  background-size: 100%;
  margin-bottom: 0.16rem;
  display: flex;
  align-items: flex-end;
}

.data-content .data-content-content .data-content-map .version-box .version-item-box .version-item span {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 0.18rem;
  color: #ffffff;
  line-height: 0.3rem;
}

.data-content .data-content-content .data-content-map .data-tabel-box {
  position: absolute;
  width: calc(100vw - 2.7rem - 3rem - 0.16rem);
  height: calc(100vh - 1.4rem);
  left: 0;
  top: 0;
  z-index: 20;
}

.data-content .data-content-content .data-content-map .dot-box {
  position: absolute;
  top: 4rem;
  left: 2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 11;
  cursor: pointer;
}

.data-content .data-content-content .data-content-map .dot-box .dot-popup {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 2.78rem;
}

.data-content .data-content-content .data-content-map .dot-box-b {
  background-color: #a87002;
}

.data-content .data-content-content .data-content-map .dot-box-b:hover {
  background-color: rgba(168, 112, 2, 0.8);
}

.data-content .data-content-content .data-content-map .dot-box-b .dot-popup-b {
  height: 2.17rem;
  background: url("../image/PNG/玻璃幕墙/玻璃幕墙状态.png") center center no-repeat;
  background-size: 100%;
  bottom: -0.6rem;
}

.data-content .data-content-content .data-content-map .dot-box-c {
  background-color: #a83800;
}

.data-content .data-content-content .data-content-map .dot-box-c:hover {
  background-color: rgba(168, 56, 0, 0.8);
}

.data-content .data-content-content .data-content-map .dot-box-c .dot-popup-c {
  height: 1.47rem;
  background: url("../image/PNG/拆违数据/拆违数据状态.png") center center no-repeat;
  background-size: 100%;
}

.data-content .data-content-content .data-content-map .dot-box-d {
  background-color: #ff5500;
}

.data-content .data-content-content .data-content-map .dot-box-d:hover {
  background-color: rgba(255, 85, 0, 0.8);
}

.data-content .data-content-content .data-content-map .dot-box-d .dot-popup-d {
  height: 1.47rem;
  background: url("../image/PNG/地下设施/地下设施状态.png") center center no-repeat;
  background-size: 100%;
}

.data-content .data-content-content .data-content-map .dot-box-f {
  background-color: #feff73;
}

.data-content .data-content-content .data-content-map .dot-box-f:hover {
  background-color: rgba(254, 255, 115, 0.8);
}

.data-content .data-content-content .data-content-map .dot-box-f .dot-popup-f {
  bottom: -0.6rem;
  height: 2.17rem;
  background: url("../image/PNG/风险管控/风险管控状态.png") center center no-repeat;
  background-size: 100%;
}

.data-content .data-content-content .csbg {
  background-image: url("../image/PNG/全市.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.data-content .data-content-content .bg-b {
  background: url("../image/PNG/玻璃幕墙/玻璃幕墙.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.data-content .data-content-content .bg-c {
  background: url("../image/PNG/拆违数据/拆违数据.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.data-content .data-content-content .bg-d {
  background: url("../image/PNG/地下设施/地下设施.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.data-content .data-content-content .bg-f {
  background: url("../image/PNG/风险管控/风险管控.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.data-content .data-content-content .bg-all {
  background: url("../image/PNG/4和1/4合1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.select-box {
  width: 2.5rem;
  margin: 0.2rem auto 0 auto;
  min-height: 3rem;
  border: 1px solid #9dbaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem 0;
  border-top: 3px solid #9dbaff;
}

.select-box .select-nav-item {
  display: inline-block;
  width: 1.9rem;
  height: 0.28rem;
  line-height: 0.28rem;
  padding: 0.02rem 0.1rem;
  font-size: 0.18rem;
  color: #ffffff;
  z-index: 10;
  background-color: #008ac4;
  position: relative;
  margin-bottom: 0.2rem;
}

.select-box .select-nav-item:hover {
  background-color: #008ac4;
}

.select-box .select-nav-item .del-icon {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.05rem;
  background-color: #ffffff;
  border-radius: 50%;
  background: url("../image/icon/del.png") center center no-repeat;
  background-size: 0.15rem;
}

.select-nav-item {
  display: inline-block;
  width: 1.9rem;
  height: 0.28rem;
  line-height: 0.28rem;
  padding: 0.02rem 0.1rem;
  font-size: 0.18rem;
  color: #ffffff;
  z-index: 10;
  background-color: #008ac4;
}

.select-nav-item:hover {
  background-color: #008ac4;
}

.bg-tb {
  background: url("../image/PNG/玻璃幕墙/玻璃幕墙表格.png") center center no-repeat;
  background-size: calc(100vw - 2.7rem - 3rem - 0.16rem);
  background-position: left top;
}

.bg-tc {
  background: url("../image/PNG/拆违数据/拆违数据表格.png") center center no-repeat;
  background-size: calc(100vw - 2.7rem - 3rem - 0.16rem);
  background-position: left top;
}

.bg-td {
  background: url("../image/PNG/地下设施/地下设施表格.png") center center no-repeat;
  background-size: calc(100vw - 2.7rem - 3rem - 0.16rem);
  background-position: left top;
}

.bg-tf {
  background: url("../image/PNG/风险管控/风险管控表格.png") center center no-repeat;
  background-size: calc(100vw - 2.7rem - 3rem - 0.16rem);
  background-position: left top;
}

.select-but {
  width: 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.select-but span {
  display: inline-block;
  width: 0.6rem;
  height: 0.35rem;
  font-size: 0.18rem;
  color: #fff;
  margin: 0.2rem;
  background-color: #008ac4;
  text-align: center;
  line-height: 0.35rem;
  cursor: pointer;
}

.select-but span:hover {
  background-color: rgba(0, 138, 196, 0.8);
}
